@charset "UTF-8";
@font-face {
  font-family: icons;
  font-display: swap;
  src: url("../fonts/icons.woff2") format("woff2"), url("../fonts/icons.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
._spoller-init .menu-footer__title::before, [class*=_icon-]:before {
  font-family: "icons";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class*=_icon-]:before {
  display: block;
}

._icon-cart:before {
  content: "\e901";
}

._icon-icon-buy:before {
  content: "\e903";
}

._icon-search:before {
  content: "\e904";
}

._icon-show:before {
  content: "\e905";
}

._icon-user:before {
  content: "\e906";
}

._icon-arrow-down:before, ._spoller-init .menu-footer__title:before {
  content: "\ea50";
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: #495057;
  line-height: 1;
  font-family: "Nunito Sans";
  font-size: 0.875rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "Nunito Sans";
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: inherit;
}

a {
  color: inherit;
}

a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

.lock body {
  overflow: hidden;
  touch-action: none;
}
.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.wrapper > main {
  flex: 1 1 auto;
}
.wrapper > * {
  min-width: 0;
}

/*
(i) Стили будут применяться ко 
всем классам содержащим *__container
Например header__container, main__container и т.д.
Снипет (HTML): cnt
*/
[class*=__container] {
  max-width: 82.5rem;
  box-sizing: content-box;
  margin: 0 auto;
  padding: 0 0.9375rem;
}

[class*=-ibg] {
  position: relative;
}
[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
}

[class*=-ibg_contain] img {
  object-fit: contain;
}

.link-blue {
  color: #3D348B;
  transition: all 0.3s ease 0s;
}
.link-blue::before {
  padding-left: 8px;
}
@media (any-hover: hover) {
  .link-blue:hover {
    color: #FA7921;
  }
}

.link-orange {
  color: #FA7921;
  transition: all 0.3s ease 0s;
}
.link-orange::before {
  padding-left: 8px;
  font-size: 18px;
  padding-bottom: 4px;
}
@media (any-hover: hover) {
  .link-orange:hover {
    color: #3D348B;
  }
}

.btn {
  background-color: #FA7921;
  color: #E8F1F2;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  font-size: 18px;
  transition: all 0.3s ease 0s;
}
@media (any-hover: hover) {
  .btn:hover {
    background-color: #FE0101;
  }
}

.gray {
  background-color: #6C757D;
}

.black {
  background-color: #000;
}

.pink {
  background-color: #F0EBE9;
}

.purple {
  background-color: #C779D0;
}

.lightgray {
  background-color: #F8F9FA;
}

.blue {
  background-color: #4BC0C8;
}

.orange {
  background-color: #FA7921;
}

.header {
  padding: 19px 0px;
  box-shadow: 0px 4px 32px 0px rgba(0, 0, 0, 0.25);
}
.header__container {
  max-width: 1354px;
  margin: 0 auto;
}
.header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__logo {
  margin-right: 10px;
  position: relative;
  z-index: 500;
}
@media (max-width: 840px) {
  .header__logo {
    flex: 1 1 auto;
  }
}
.header__actions {
  display: flex;
  align-items: center;
}
@media (min-width: 84.375em) {
  .header__actions {
    gap: 1.125rem;
  }
}
@media (min-width: 20em) and (max-width: 84.375em) {
  @supports (gap: clamp( 0.625rem , 0.4696601942rem  +  0.7766990291vw , 1.125rem )) {
    .header__actions {
      gap: clamp( 0.625rem , 0.4696601942rem  +  0.7766990291vw , 1.125rem );
    }
  }
  @supports not (gap: clamp( 0.625rem , 0.4696601942rem  +  0.7766990291vw , 1.125rem )) {
    .header__actions {
      gap: calc(0.625rem + 0.5 * (100vw - 20rem) / 64.375);
    }
  }
}
@media (max-width: 20em) {
  .header__actions {
    gap: 0.625rem;
  }
}
.header__search {
  max-width: 200px;
}

.menu {
  margin-right: 10px;
}
.menu__body {
  display: flex;
  flex-wrap: wrap;
  left: -100%;
}
@media (min-width: 84.375em) {
  .menu__body {
    gap: 1.3125rem;
  }
}
@media (min-width: 20em) and (max-width: 84.375em) {
  @supports (gap: clamp( 0.625rem , 0.411407767rem  +  1.067961165vw , 1.3125rem )) {
    .menu__body {
      gap: clamp( 0.625rem , 0.411407767rem  +  1.067961165vw , 1.3125rem );
    }
  }
  @supports not (gap: clamp( 0.625rem , 0.411407767rem  +  1.067961165vw , 1.3125rem )) {
    .menu__body {
      gap: calc(0.625rem + 0.6875 * (100vw - 20rem) / 64.375);
    }
  }
}
@media (max-width: 20em) {
  .menu__body {
    gap: 0.625rem;
  }
}
@media (max-width: 840px) {
  .menu__body {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 3.125rem;
    overflow: auto;
    background-color: #F3F5F9;
    padding: 100px 15px 30px 15px;
    transition: left 0.3s ease 0s;
    z-index: 4;
    flex-direction: column;
    align-items: center;
  }
  .menu__body::before {
    content: "";
    position: fixed;
    width: 100%;
    height: 50px;
    top: 0;
    left: -100%;
    background-color: #F3F5F9;
    transition: left 0.3s ease 0s;
    z-index: 2;
  }
  .menu-open .menu__body {
    left: 0;
  }
  .menu-open .menu__body::before {
    left: 0;
  }
}
@media (max-width: 47.99875em) {
  .menu__item {
    margin-bottom: 1.25rem;
  }
}
.menu__link {
  font-weight: 600;
  font-size: 1.125rem;
  position: relative;
}
@media (min-width: 84.375em) {
  .menu__link {
    font-size: 1.125rem;
  }
}
@media (min-width: 20em) and (max-width: 84.375em) {
  @supports (font-size: clamp( 1rem , 0.9611650485rem  +  0.1941747573vw , 1.125rem )) {
    .menu__link {
      font-size: clamp( 1rem , 0.9611650485rem  +  0.1941747573vw , 1.125rem );
    }
  }
  @supports not (font-size: clamp( 1rem , 0.9611650485rem  +  0.1941747573vw , 1.125rem )) {
    .menu__link {
      font-size: calc(1rem + 0.125 * (100vw - 20rem) / 64.375);
    }
  }
}
@media (max-width: 20em) {
  .menu__link {
    font-size: 1rem;
  }
}
.menu__link::before {
  content: "";
  position: absolute;
  width: 0%;
  height: 2px;
  left: 0;
  bottom: -2px;
  background-color: #495057;
}
@media (any-hover: hover) {
  .menu__link:hover::before {
    transition: all 0.3s ease 0s;
    width: 100%;
  }
}
@media (max-width: 840px) and (min-width: 84.375em) {
  .menu__link {
    font-size: 1.5rem;
  }
}
@media (max-width: 840px) and (min-width: 20em) and (max-width: 84.375em) {
  @supports (font-size: clamp( 1.5rem , 1.5rem  +  0vw , 1.5rem )) {
    .menu__link {
      font-size: clamp( 1.5rem , 1.5rem  +  0vw , 1.5rem );
    }
  }
  @supports not (font-size: clamp( 1.5rem , 1.5rem  +  0vw , 1.5rem )) {
    .menu__link {
      font-size: calc(1.5rem + 0 * (100vw - 20rem) / 64.375);
    }
  }
}
@media (max-width: 840px) and (max-width: 20em) {
  .menu__link {
    font-size: 1.5rem;
  }
}

.search-form {
  max-width: 200px;
}
.search-form._active .search-form__item {
  opacity: 1;
  visibility: visible;
  top: 15%;
}
.search-form._active .search-form__icon {
  color: .search-form._active .search-form__icon orangeColor;
}
.search-form__icon {
  position: relative;
  z-index: 5;
  font-size: 22px;
  color: #262F56;
}
@media (min-width: 575px) {
  .search-form__icon {
    display: none;
  }
}
.search-form__item {
  background-color: #fff;
  display: flex;
  align-items: center;
}
@media (max-width: 575px) {
  .search-form__item {
    box-shadow: 0 0 5px rgba(212, 209, 205, 0.3);
    position: absolute;
    width: 100%;
    left: 0;
    top: -100%;
    z-index: 5;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease 0s;
  }
}
.search-form__btn {
  flex: 0 0 32px;
  height: 32px;
  font-size: 16px;
  background-color: #F3F5F9;
}
@media (any-hover: hover) {
  .search-form__btn:hover::before {
    transition: all 0.3s ease 0s;
    color: #FA7921;
  }
}
.search-form__input {
  background-color: #F3F5F9;
  height: 32px;
  padding-left: 8px;
  padding-right: 8px;
  outline: none;
  width: 100%;
}

.cart__btn {
  background-color: #CED4DA;
  width: 32px;
  height: 32px;
  position: relative;
  z-index: 5;
}
.cart__btn::before {
  font-size: 18px;
}
@media (any-hover: hover) {
  .cart__btn:hover::before {
    transition: all 0.3s ease 0s;
    color: #FA7921;
  }
}

.user__btn {
  background-color: #CED4DA;
  width: 32px;
  height: 32px;
  position: relative;
  z-index: 5;
}
.user__btn::before {
  font-size: 16px;
}
@media (any-hover: hover) {
  .user__btn:hover::before {
    transition: all 0.3s ease 0s;
    color: #FA7921;
  }
}

.icon-menu {
  display: none;
  margin-left: 15px;
}
@media (max-width: 840px) {
  .icon-menu {
    display: block;
    position: relative;
    width: 1.875rem;
    height: 1.125rem;
    cursor: pointer;
    z-index: 5;
  }
  .icon-menu span, .icon-menu::before, .icon-menu::after {
    content: "";
    transition: all 0.3s ease 0s;
    right: 0;
    position: absolute;
    width: 100%;
    height: 0.125rem;
    background-color: #000;
  }
  .icon-menu::before {
    top: 0;
  }
  .icon-menu::after {
    bottom: 0;
  }
  .icon-menu span {
    top: calc(50% - 0.0625rem);
  }
  .menu-open .icon-menu span {
    width: 0;
  }
  .menu-open .icon-menu::before {
    top: calc(50% - 0.0625rem);
    transform: rotate(-45deg);
  }
  .menu-open .icon-menu::after {
    bottom: calc(50% - 0.0625rem);
    transform: rotate(45deg);
  }
}

.footer {
  background-color: #F3F5F9;
  padding-bottom: 26px;
}
@media (min-width: 84.375em) {
  .footer {
    padding-top: 3.125rem;
  }
}
@media (min-width: 20em) and (max-width: 84.375em) {
  @supports (padding-top: clamp( 1.875rem , 1.4866504854rem  +  1.9417475728vw , 3.125rem )) {
    .footer {
      padding-top: clamp( 1.875rem , 1.4866504854rem  +  1.9417475728vw , 3.125rem );
    }
  }
  @supports not (padding-top: clamp( 1.875rem , 1.4866504854rem  +  1.9417475728vw , 3.125rem )) {
    .footer {
      padding-top: calc(1.875rem + 1.25 * (100vw - 20rem) / 64.375);
    }
  }
}
@media (max-width: 20em) {
  .footer {
    padding-top: 1.875rem;
  }
}
.footer__container {
  max-width: 1354px;
  margin: 0 auto;
}
.footer__body {
  display: grid;
  grid-template-columns: 318px 1fr;
  margin-bottom: 17px;
}
@media (max-width: 84.375em) {
  .footer__body {
    grid-template-rows: auto auto;
    grid-template-columns: 318px 1fr;
  }
}
@media (max-width: 61.99875em) {
  .footer__body {
    display: block;
  }
}
@media (max-width: 47.99875em) {
  .footer__body {
    margin-bottom: 1.875rem;
  }
}
@media (max-width: 84.375em) and (min-width: 84.375em) {
  .footer__main {
    margin-bottom: 2.5rem;
  }
}
@media (max-width: 84.375em) and (min-width: 20em) and (max-width: 84.375em) {
  @supports (margin-bottom: clamp( 1.875rem , 1.6808252427rem  +  0.9708737864vw , 2.5rem )) {
    .footer__main {
      margin-bottom: clamp( 1.875rem , 1.6808252427rem  +  0.9708737864vw , 2.5rem );
    }
  }
  @supports not (margin-bottom: clamp( 1.875rem , 1.6808252427rem  +  0.9708737864vw , 2.5rem )) {
    .footer__main {
      margin-bottom: calc(1.875rem + 0.625 * (100vw - 20rem) / 64.375);
    }
  }
}
@media (max-width: 84.375em) and (max-width: 20em) {
  .footer__main {
    margin-bottom: 1.875rem;
  }
}
.footer__logo {
  margin: 0 0 1rem 0;
}
.footer__text {
  color: #6C757D;
  line-height: 1.5;
}
.footer__text:not(:last-child) {
  margin: 0px 0px 1rem 0px;
}
.footer__rights {
  text-align: center;
  font-weight: 300;
  font-size: 1rem;
}

@media (min-width: 47.99875em) {
  .menu-footer {
    display: flex;
  }
}
@media (min-width: 47.99875em) {
  .menu-footer__column {
    flex: 0 1 33.333%;
  }
}
.menu-footer__title {
  cursor: default;
  white-space: nowrap;
  margin: 0px 0px 0.9375rem 0px;
}
@media (min-width: 47.99875em) {
  .menu-footer__title {
    margin: 0px 0px 0.9375rem 0px;
  }
}
._spoller-init .menu-footer__title {
  display: flex;
  width: 100%;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
}
._spoller-init .menu-footer__title::before {
  width: 32px;
  height: 16px;
  font-size: 32px;
  transition: transform 0.3s ease 0s;
  transform: rotate(-180deg);
}
.menu-footer__title._spoller-active::before {
  transform: rotate(-360deg);
  color: #FA7921;
}
.menu-footer__list {
  margin-bottom: 2.5rem;
}
@media (max-width: 47.99875em) {
  .menu-footer__list {
    padding: 10px 0px 0px 0px;
  }
}
.menu-footer__item:not(:last-child) {
  margin: 0px 0px 1rem 0px;
}
.menu-footer__link {
  font-family: Outfit;
  color: #6C757D;
  font-size: 1rem;
  transition: color 0.3s ease 0s;
  font-weight: 300;
}
@media (any-hover: hover) {
  .menu-footer__link:hover {
    color: #FA7921;
  }
}

._footer-title {
  text-transform: uppercase;
  font-size: 1.125rem;
  font-weight: 700;
}

.hero {
  background-image: url(../img/header-img.png);
  background-repeat: no-repeat;
  height: 595px;
  background-position: center;
  background-size: cover;
}
@media (min-width: 84.375em) {
  .hero {
    padding-top: 2.8125rem;
  }
}
@media (min-width: 20em) and (max-width: 84.375em) {
  @supports (padding-top: clamp( 1.875rem , 1.5837378641rem  +  1.4563106796vw , 2.8125rem )) {
    .hero {
      padding-top: clamp( 1.875rem , 1.5837378641rem  +  1.4563106796vw , 2.8125rem );
    }
  }
  @supports not (padding-top: clamp( 1.875rem , 1.5837378641rem  +  1.4563106796vw , 2.8125rem )) {
    .hero {
      padding-top: calc(1.875rem + 0.9375 * (100vw - 20rem) / 64.375);
    }
  }
}
@media (max-width: 20em) {
  .hero {
    padding-top: 1.875rem;
  }
}
.hero__body {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.hero__subtitle {
  font-family: Outfit;
  font-weight: 700;
  line-height: 2.0833333333;
  color: #FE0101;
  margin-bottom: 17px;
}
@media (min-width: 84.375em) {
  .hero__subtitle {
    font-size: 1.5rem;
  }
}
@media (min-width: 20em) and (max-width: 84.375em) {
  @supports (font-size: clamp( 1.125rem , 1.0084951456rem  +  0.5825242718vw , 1.5rem )) {
    .hero__subtitle {
      font-size: clamp( 1.125rem , 1.0084951456rem  +  0.5825242718vw , 1.5rem );
    }
  }
  @supports not (font-size: clamp( 1.125rem , 1.0084951456rem  +  0.5825242718vw , 1.5rem )) {
    .hero__subtitle {
      font-size: calc(1.125rem + 0.375 * (100vw - 20rem) / 64.375);
    }
  }
}
@media (max-width: 20em) {
  .hero__subtitle {
    font-size: 1.125rem;
  }
}
.hero__title {
  font-family: Outfit;
  font-weight: 700;
  line-height: 0.9615384615;
  margin-bottom: 10px;
}
@media (min-width: 84.375em) {
  .hero__title {
    font-size: 3.25rem;
  }
}
@media (min-width: 20em) and (max-width: 84.375em) {
  @supports (font-size: clamp( 1.875rem , 1.447815534rem  +  2.1359223301vw , 3.25rem )) {
    .hero__title {
      font-size: clamp( 1.875rem , 1.447815534rem  +  2.1359223301vw , 3.25rem );
    }
  }
  @supports not (font-size: clamp( 1.875rem , 1.447815534rem  +  2.1359223301vw , 3.25rem )) {
    .hero__title {
      font-size: calc(1.875rem + 1.375 * (100vw - 20rem) / 64.375);
    }
  }
}
@media (max-width: 20em) {
  .hero__title {
    font-size: 1.875rem;
  }
}
.hero__title span {
  color: #DA5941;
}
.hero__text {
  font-family: Outfit;
  line-height: 2.0833333333;
  font-weight: 400;
}
@media (min-width: 84.375em) {
  .hero__text {
    font-size: 1.5rem;
  }
}
@media (min-width: 20em) and (max-width: 84.375em) {
  @supports (font-size: clamp( 1.125rem , 1.0084951456rem  +  0.5825242718vw , 1.5rem )) {
    .hero__text {
      font-size: clamp( 1.125rem , 1.0084951456rem  +  0.5825242718vw , 1.5rem );
    }
  }
  @supports not (font-size: clamp( 1.125rem , 1.0084951456rem  +  0.5825242718vw , 1.5rem )) {
    .hero__text {
      font-size: calc(1.125rem + 0.375 * (100vw - 20rem) / 64.375);
    }
  }
}
@media (max-width: 20em) {
  .hero__text {
    font-size: 1.125rem;
  }
}
.hero__text:not(:last-child) {
  margin-bottom: 38px;
}
.hero__btn {
  background-color: #FA7921;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 48px;
  color: #E8F1F2;
  font-weight: 700;
  font-size: 1.125rem;
  gap: 52px;
  padding-left: 15px;
  padding-right: 35px;
  position: relative;
  transition: all 0.3s ease 0s;
}
.hero__btn::before {
  font-size: 1.125rem;
}
.hero__btn::after {
  content: "";
  position: absolute;
  height: 28px;
  width: 2px;
  top: 10px;
  left: 47px;
  background-color: #E8F1F2;
}
@media (any-hover: hover) {
  .hero__btn:hover {
    background-color: #FE0101;
  }
}

.goods {
  background-color: #F3F5F9;
  box-shadow: 0px -4px 32px 0px rgba(0, 0, 0, 0.25);
}
@media (min-width: 84.375em) {
  .goods {
    padding-top: 2.6875rem;
  }
}
@media (min-width: 20em) and (max-width: 84.375em) {
  @supports (padding-top: clamp( 1.875rem , 1.6225728155rem  +  1.2621359223vw , 2.6875rem )) {
    .goods {
      padding-top: clamp( 1.875rem , 1.6225728155rem  +  1.2621359223vw , 2.6875rem );
    }
  }
  @supports not (padding-top: clamp( 1.875rem , 1.6225728155rem  +  1.2621359223vw , 2.6875rem )) {
    .goods {
      padding-top: calc(1.875rem + 0.8125 * (100vw - 20rem) / 64.375);
    }
  }
}
@media (max-width: 20em) {
  .goods {
    padding-top: 1.875rem;
  }
}
@media (min-width: 84.375em) {
  .goods {
    padding-bottom: 3.0625rem;
  }
}
@media (min-width: 20em) and (max-width: 84.375em) {
  @supports (padding-bottom: clamp( 1.875rem , 1.5060679612rem  +  1.8446601942vw , 3.0625rem )) {
    .goods {
      padding-bottom: clamp( 1.875rem , 1.5060679612rem  +  1.8446601942vw , 3.0625rem );
    }
  }
  @supports not (padding-bottom: clamp( 1.875rem , 1.5060679612rem  +  1.8446601942vw , 3.0625rem )) {
    .goods {
      padding-bottom: calc(1.875rem + 1.1875 * (100vw - 20rem) / 64.375);
    }
  }
}
@media (max-width: 20em) {
  .goods {
    padding-bottom: 1.875rem;
  }
}
.goods__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}
@media (max-width: 29.99875em) {
  .goods__top {
    flex-direction: column;
  }
}
@media (min-width: 84.375em) {
  .goods__title {
    font-size: 1.75rem;
  }
}
@media (min-width: 20em) and (max-width: 84.375em) {
  @supports (font-size: clamp( 1.5rem , 1.4223300971rem  +  0.3883495146vw , 1.75rem )) {
    .goods__title {
      font-size: clamp( 1.5rem , 1.4223300971rem  +  0.3883495146vw , 1.75rem );
    }
  }
  @supports not (font-size: clamp( 1.5rem , 1.4223300971rem  +  0.3883495146vw , 1.75rem )) {
    .goods__title {
      font-size: calc(1.5rem + 0.25 * (100vw - 20rem) / 64.375);
    }
  }
}
@media (max-width: 20em) {
  .goods__title {
    font-size: 1.5rem;
  }
}
@media (max-width: 29.99875em) {
  .goods__title {
    margin-bottom: 15px;
  }
}
.goods__link {
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  color: #3D348B;
  font-weight: 600;
  font-size: 1.375rem;
  transition: all 0.3s ease 0s;
}
.goods__wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(290px, 1fr));
}
@media (min-width: 84.375em) {
  .goods__wrapper {
    gap: 1.25rem;
  }
}
@media (min-width: 20em) and (max-width: 84.375em) {
  @supports (gap: clamp( 0.625rem , 0.4308252427rem  +  0.9708737864vw , 1.25rem )) {
    .goods__wrapper {
      gap: clamp( 0.625rem , 0.4308252427rem  +  0.9708737864vw , 1.25rem );
    }
  }
  @supports not (gap: clamp( 0.625rem , 0.4308252427rem  +  0.9708737864vw , 1.25rem )) {
    .goods__wrapper {
      gap: calc(0.625rem + 0.625 * (100vw - 20rem) / 64.375);
    }
  }
}
@media (max-width: 20em) {
  .goods__wrapper {
    gap: 0.625rem;
  }
}
.goods__item {
  flex-direction: column;
  text-align: center;
  display: flex;
  justify-content: flex-end;
  background-color: #DEE2E6;
  padding: 0px 0px 30px 0px;
  transition: all 0.3s ease 0s;
}
@media (any-hover: hover) {
  .goods__item:hover {
    background-color: #CED4DA;
  }
}
.goods__item-image {
  margin-bottom: 25px;
}
@media (min-width: 84.375em) {
  .goods__item-text {
    font-size: 1.5625rem;
  }
}
@media (min-width: 20em) and (max-width: 84.375em) {
  @supports (font-size: clamp( 1.375rem , 1.3167475728rem  +  0.2912621359vw , 1.5625rem )) {
    .goods__item-text {
      font-size: clamp( 1.375rem , 1.3167475728rem  +  0.2912621359vw , 1.5625rem );
    }
  }
  @supports not (font-size: clamp( 1.375rem , 1.3167475728rem  +  0.2912621359vw , 1.5625rem )) {
    .goods__item-text {
      font-size: calc(1.375rem + 0.1875 * (100vw - 20rem) / 64.375);
    }
  }
}
@media (max-width: 20em) {
  .goods__item-text {
    font-size: 1.375rem;
  }
}
@media (any-hover: hover) {
  .goods__item-text:hover {
    text-decoration: underline;
  }
}

.advantages {
  background-color: #495057;
}
@media (min-width: 84.375em) {
  .advantages {
    padding-top: 2.5rem;
  }
}
@media (min-width: 20em) and (max-width: 84.375em) {
  @supports (padding-top: clamp( 1.875rem , 1.6808252427rem  +  0.9708737864vw , 2.5rem )) {
    .advantages {
      padding-top: clamp( 1.875rem , 1.6808252427rem  +  0.9708737864vw , 2.5rem );
    }
  }
  @supports not (padding-top: clamp( 1.875rem , 1.6808252427rem  +  0.9708737864vw , 2.5rem )) {
    .advantages {
      padding-top: calc(1.875rem + 0.625 * (100vw - 20rem) / 64.375);
    }
  }
}
@media (max-width: 20em) {
  .advantages {
    padding-top: 1.875rem;
  }
}
@media (min-width: 84.375em) {
  .advantages {
    padding-bottom: 2.5rem;
  }
}
@media (min-width: 20em) and (max-width: 84.375em) {
  @supports (padding-bottom: clamp( 1.875rem , 1.6808252427rem  +  0.9708737864vw , 2.5rem )) {
    .advantages {
      padding-bottom: clamp( 1.875rem , 1.6808252427rem  +  0.9708737864vw , 2.5rem );
    }
  }
  @supports not (padding-bottom: clamp( 1.875rem , 1.6808252427rem  +  0.9708737864vw , 2.5rem )) {
    .advantages {
      padding-bottom: calc(1.875rem + 0.625 * (100vw - 20rem) / 64.375);
    }
  }
}
@media (max-width: 20em) {
  .advantages {
    padding-bottom: 1.875rem;
  }
}
.advantages__wrapper {
  display: grid;
  justify-items: center;
  grid-template-columns: repeat(auto-fill, minmax(290px, 1fr));
}
@media (min-width: 84.375em) {
  .advantages__wrapper {
    gap: 5.625rem;
  }
}
@media (min-width: 20em) and (max-width: 84.375em) {
  @supports (gap: clamp( 1.875rem , 0.7099514563rem  +  5.8252427184vw , 5.625rem )) {
    .advantages__wrapper {
      gap: clamp( 1.875rem , 0.7099514563rem  +  5.8252427184vw , 5.625rem );
    }
  }
  @supports not (gap: clamp( 1.875rem , 0.7099514563rem  +  5.8252427184vw , 5.625rem )) {
    .advantages__wrapper {
      gap: calc(1.875rem + 3.75 * (100vw - 20rem) / 64.375);
    }
  }
}
@media (max-width: 20em) {
  .advantages__wrapper {
    gap: 1.875rem;
  }
}
.advantages__item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 260px;
}
.advantages__image {
  flex: 1 1 auto;
  margin-bottom: 1.9375rem;
}
.advantages__title {
  font-weight: 600;
  color: #DEE2E6;
  margin-bottom: 7px;
}
@media (min-width: 84.375em) {
  .advantages__title {
    font-size: 1.25rem;
  }
}
@media (min-width: 20em) and (max-width: 84.375em) {
  @supports (font-size: clamp( 1.125rem , 1.0861650485rem  +  0.1941747573vw , 1.25rem )) {
    .advantages__title {
      font-size: clamp( 1.125rem , 1.0861650485rem  +  0.1941747573vw , 1.25rem );
    }
  }
  @supports not (font-size: clamp( 1.125rem , 1.0861650485rem  +  0.1941747573vw , 1.25rem )) {
    .advantages__title {
      font-size: calc(1.125rem + 0.125 * (100vw - 20rem) / 64.375);
    }
  }
}
@media (max-width: 20em) {
  .advantages__title {
    font-size: 1.125rem;
  }
}
.advantages__text {
  font-weight: 300;
  color: #CED4DA;
  text-align: center;
  justify-content: center;
  line-height: 1.3333333333;
}
@media (min-width: 84.375em) {
  .advantages__text {
    font-size: 1.125rem;
  }
}
@media (min-width: 20em) and (max-width: 84.375em) {
  @supports (font-size: clamp( 1rem , 0.9611650485rem  +  0.1941747573vw , 1.125rem )) {
    .advantages__text {
      font-size: clamp( 1rem , 0.9611650485rem  +  0.1941747573vw , 1.125rem );
    }
  }
  @supports not (font-size: clamp( 1rem , 0.9611650485rem  +  0.1941747573vw , 1.125rem )) {
    .advantages__text {
      font-size: calc(1rem + 0.125 * (100vw - 20rem) / 64.375);
    }
  }
}
@media (max-width: 20em) {
  .advantages__text {
    font-size: 1rem;
  }
}

.popular {
  background-color: #DEE2E6;
}
@media (min-width: 84.375em) {
  .popular {
    padding-top: 2.8125rem;
  }
}
@media (min-width: 20em) and (max-width: 84.375em) {
  @supports (padding-top: clamp( 1.875rem , 1.5837378641rem  +  1.4563106796vw , 2.8125rem )) {
    .popular {
      padding-top: clamp( 1.875rem , 1.5837378641rem  +  1.4563106796vw , 2.8125rem );
    }
  }
  @supports not (padding-top: clamp( 1.875rem , 1.5837378641rem  +  1.4563106796vw , 2.8125rem )) {
    .popular {
      padding-top: calc(1.875rem + 0.9375 * (100vw - 20rem) / 64.375);
    }
  }
}
@media (max-width: 20em) {
  .popular {
    padding-top: 1.875rem;
  }
}
@media (min-width: 84.375em) {
  .popular {
    padding-bottom: 3.75rem;
  }
}
@media (min-width: 20em) and (max-width: 84.375em) {
  @supports (padding-bottom: clamp( 1.875rem , 1.2924757282rem  +  2.9126213592vw , 3.75rem )) {
    .popular {
      padding-bottom: clamp( 1.875rem , 1.2924757282rem  +  2.9126213592vw , 3.75rem );
    }
  }
  @supports not (padding-bottom: clamp( 1.875rem , 1.2924757282rem  +  2.9126213592vw , 3.75rem )) {
    .popular {
      padding-bottom: calc(1.875rem + 1.875 * (100vw - 20rem) / 64.375);
    }
  }
}
@media (max-width: 20em) {
  .popular {
    padding-bottom: 1.875rem;
  }
}
.popular__title {
  font-weight: 600;
  text-align: center;
  margin-bottom: 1.875rem;
}
@media (min-width: 84.375em) {
  .popular__title {
    font-size: 2rem;
  }
}
@media (min-width: 20em) and (max-width: 84.375em) {
  @supports (font-size: clamp( 1.75rem , 1.6723300971rem  +  0.3883495146vw , 2rem )) {
    .popular__title {
      font-size: clamp( 1.75rem , 1.6723300971rem  +  0.3883495146vw , 2rem );
    }
  }
  @supports not (font-size: clamp( 1.75rem , 1.6723300971rem  +  0.3883495146vw , 2rem )) {
    .popular__title {
      font-size: calc(1.75rem + 0.25 * (100vw - 20rem) / 64.375);
    }
  }
}
@media (max-width: 20em) {
  .popular__title {
    font-size: 1.75rem;
  }
}
.popular__wrapper {
  display: grid;
  gap: 30px;
  grid-template-columns: repeat(auto-fill, minmax(291px, 1fr));
}
.popular__item {
  background-color: #F8F9FA;
  padding: 20px 16px 35px;
  display: flex;
  flex-direction: column;
}
.popular__item-colors {
  display: flex;
  gap: 20px;
  justify-content: center;
}
.popular__item-color {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 1px solid #6C757D;
}

.item-popular__top {
  margin-bottom: 18px;
  color: #6C757D;
}
.item-popular__info {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1.125rem;
  flex: 1 1 auto;
}
.item-popular__top-text {
  max-width: 210px;
}
@media (min-width: 84.375em) {
  .item-popular__top-text {
    font-size: 1.375rem;
  }
}
@media (min-width: 20em) and (max-width: 84.375em) {
  @supports (font-size: clamp( 1.125rem , 1.0473300971rem  +  0.3883495146vw , 1.375rem )) {
    .item-popular__top-text {
      font-size: clamp( 1.125rem , 1.0473300971rem  +  0.3883495146vw , 1.375rem );
    }
  }
  @supports not (font-size: clamp( 1.125rem , 1.0473300971rem  +  0.3883495146vw , 1.375rem )) {
    .item-popular__top-text {
      font-size: calc(1.125rem + 0.25 * (100vw - 20rem) / 64.375);
    }
  }
}
@media (max-width: 20em) {
  .item-popular__top-text {
    font-size: 1.125rem;
  }
}
@media (min-width: 84.375em) {
  .item-popular__top-price {
    font-size: 1.375rem;
  }
}
@media (min-width: 20em) and (max-width: 84.375em) {
  @supports (font-size: clamp( 1.125rem , 1.0473300971rem  +  0.3883495146vw , 1.375rem )) {
    .item-popular__top-price {
      font-size: clamp( 1.125rem , 1.0473300971rem  +  0.3883495146vw , 1.375rem );
    }
  }
  @supports not (font-size: clamp( 1.125rem , 1.0473300971rem  +  0.3883495146vw , 1.375rem )) {
    .item-popular__top-price {
      font-size: calc(1.125rem + 0.25 * (100vw - 20rem) / 64.375);
    }
  }
}
@media (max-width: 20em) {
  .item-popular__top-price {
    font-size: 1.125rem;
  }
}
.item-popular__links {
  display: flex;
  justify-content: space-between;
  align-content: center;
  font-weight: 600;
  color: #3D348B;
  flex: 1 1 auto;
}
@media (min-width: 84.375em) {
  .item-popular__links {
    font-size: 1.375rem;
  }
}
@media (min-width: 20em) and (max-width: 84.375em) {
  @supports (font-size: clamp( 1.125rem , 1.0473300971rem  +  0.3883495146vw , 1.375rem )) {
    .item-popular__links {
      font-size: clamp( 1.125rem , 1.0473300971rem  +  0.3883495146vw , 1.375rem );
    }
  }
  @supports not (font-size: clamp( 1.125rem , 1.0473300971rem  +  0.3883495146vw , 1.375rem )) {
    .item-popular__links {
      font-size: calc(1.125rem + 0.25 * (100vw - 20rem) / 64.375);
    }
  }
}
@media (max-width: 20em) {
  .item-popular__links {
    font-size: 1.125rem;
  }
}
@media (min-width: 84.375em) {
  .item-popular__links {
    margin-bottom: 2.6875rem;
  }
}
@media (min-width: 20em) and (max-width: 84.375em) {
  @supports (margin-bottom: clamp( 1.875rem , 1.6225728155rem  +  1.2621359223vw , 2.6875rem )) {
    .item-popular__links {
      margin-bottom: clamp( 1.875rem , 1.6225728155rem  +  1.2621359223vw , 2.6875rem );
    }
  }
  @supports not (margin-bottom: clamp( 1.875rem , 1.6225728155rem  +  1.2621359223vw , 2.6875rem )) {
    .item-popular__links {
      margin-bottom: calc(1.875rem + 0.8125 * (100vw - 20rem) / 64.375);
    }
  }
}
@media (max-width: 20em) {
  .item-popular__links {
    margin-bottom: 1.875rem;
  }
}
.item-popular__image {
  margin-bottom: 14px;
  flex: 1 1 auto;
}
.item-popular__image img {
  width: 100%;
  object-fit: cover;
}
.item-popular__link {
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
}
.item-popular__link::before {
  padding-left: 8px;
}

.opinion {
  background-color: #D9D9D9;
  position: relative;
  height: 450px;
}
@media (min-width: 84.375em) {
  .opinion {
    padding-top: 3.5rem;
  }
}
@media (min-width: 20em) and (max-width: 84.375em) {
  @supports (padding-top: clamp( 1.875rem , 1.3701456311rem  +  2.5242718447vw , 3.5rem )) {
    .opinion {
      padding-top: clamp( 1.875rem , 1.3701456311rem  +  2.5242718447vw , 3.5rem );
    }
  }
  @supports not (padding-top: clamp( 1.875rem , 1.3701456311rem  +  2.5242718447vw , 3.5rem )) {
    .opinion {
      padding-top: calc(1.875rem + 1.625 * (100vw - 20rem) / 64.375);
    }
  }
}
@media (max-width: 20em) {
  .opinion {
    padding-top: 1.875rem;
  }
}
@media (min-width: 84.375em) {
  .opinion {
    padding-bottom: 3.5rem;
  }
}
@media (min-width: 20em) and (max-width: 84.375em) {
  @supports (padding-bottom: clamp( 1.875rem , 1.3701456311rem  +  2.5242718447vw , 3.5rem )) {
    .opinion {
      padding-bottom: clamp( 1.875rem , 1.3701456311rem  +  2.5242718447vw , 3.5rem );
    }
  }
  @supports not (padding-bottom: clamp( 1.875rem , 1.3701456311rem  +  2.5242718447vw , 3.5rem )) {
    .opinion {
      padding-bottom: calc(1.875rem + 1.625 * (100vw - 20rem) / 64.375);
    }
  }
}
@media (max-width: 20em) {
  .opinion {
    padding-bottom: 1.875rem;
  }
}
.opinion__bg-image {
  position: absolute;
  top: 0;
  right: 0;
}
@media (max-width: 61.99875em) {
  .opinion__bg-image {
    opacity: 0.3;
  }
}
.opinion__wrapper {
  position: relative;
  z-index: 1;
}
@media (min-width: 84.375em) {
  .opinion__wrapper {
    padding-left: 9.8125rem;
  }
}
@media (min-width: 20em) and (max-width: 84.375em) {
  @supports (padding-left: clamp( 0.00000625rem , -3.0485354976rem  +  15.2427087379vw , 9.8125rem )) {
    .opinion__wrapper {
      padding-left: clamp( 0.00000625rem , -3.0485354976rem  +  15.2427087379vw , 9.8125rem );
    }
  }
  @supports not (padding-left: clamp( 0.00000625rem , -3.0485354976rem  +  15.2427087379vw , 9.8125rem )) {
    .opinion__wrapper {
      padding-left: calc(0.00000625rem + 9.8125 * (100vw - 20rem) / 64.375);
    }
  }
}
@media (max-width: 20em) {
  .opinion__wrapper {
    padding-left: 0.00000625rem;
  }
}
@media (min-width: 84.375em) {
  .opinion__wrapper {
    margin-bottom: 5.0625rem;
  }
}
@media (min-width: 20em) and (max-width: 84.375em) {
  @supports (margin-bottom: clamp( 3.125rem , 2.5230582524rem  +  3.0097087379vw , 5.0625rem )) {
    .opinion__wrapper {
      margin-bottom: clamp( 3.125rem , 2.5230582524rem  +  3.0097087379vw , 5.0625rem );
    }
  }
  @supports not (margin-bottom: clamp( 3.125rem , 2.5230582524rem  +  3.0097087379vw , 5.0625rem )) {
    .opinion__wrapper {
      margin-bottom: calc(3.125rem + 1.9375 * (100vw - 20rem) / 64.375);
    }
  }
}
@media (max-width: 20em) {
  .opinion__wrapper {
    margin-bottom: 3.125rem;
  }
}
@media (max-width: 61.99875em) and (min-width: 84.375em) {
  .opinion__wrapper {
    padding-left: 0.00000625rem;
  }
}
@media (max-width: 61.99875em) and (min-width: 20em) and (max-width: 84.375em) {
  @supports (padding-left: clamp( 0.00000625rem , 0.00000625rem  +  0vw , 0.00000625rem )) {
    .opinion__wrapper {
      padding-left: clamp( 0.00000625rem , 0.00000625rem  +  0vw , 0.00000625rem );
    }
  }
  @supports not (padding-left: clamp( 0.00000625rem , 0.00000625rem  +  0vw , 0.00000625rem )) {
    .opinion__wrapper {
      padding-left: calc(0.00000625rem + 0 * (100vw - 20rem) / 64.375);
    }
  }
}
@media (max-width: 61.99875em) and (max-width: 20em) {
  .opinion__wrapper {
    padding-left: 0.00000625rem;
  }
}
.opinion__name {
  font-weight: 700;
  margin-bottom: 1.625rem;
}
@media (min-width: 84.375em) {
  .opinion__name {
    font-size: 2.625rem;
  }
}
@media (min-width: 20em) and (max-width: 84.375em) {
  @supports (font-size: clamp( 1.875rem , 1.6419902913rem  +  1.1650485437vw , 2.625rem )) {
    .opinion__name {
      font-size: clamp( 1.875rem , 1.6419902913rem  +  1.1650485437vw , 2.625rem );
    }
  }
  @supports not (font-size: clamp( 1.875rem , 1.6419902913rem  +  1.1650485437vw , 2.625rem )) {
    .opinion__name {
      font-size: calc(1.875rem + 0.75 * (100vw - 20rem) / 64.375);
    }
  }
}
@media (max-width: 20em) {
  .opinion__name {
    font-size: 1.875rem;
  }
}
.opinion__text {
  font-weight: 300;
  margin-bottom: 1.625rem;
  color: #6C757D;
  max-width: 675px;
}
@media (min-width: 84.375em) {
  .opinion__text {
    font-size: 2.1875rem;
  }
}
@media (min-width: 20em) and (max-width: 84.375em) {
  @supports (font-size: clamp( 1.625rem , 1.4502427184rem  +  0.8737864078vw , 2.1875rem )) {
    .opinion__text {
      font-size: clamp( 1.625rem , 1.4502427184rem  +  0.8737864078vw , 2.1875rem );
    }
  }
  @supports not (font-size: clamp( 1.625rem , 1.4502427184rem  +  0.8737864078vw , 2.1875rem )) {
    .opinion__text {
      font-size: calc(1.625rem + 0.5625 * (100vw - 20rem) / 64.375);
    }
  }
}
@media (max-width: 20em) {
  .opinion__text {
    font-size: 1.625rem;
  }
}
@media (max-width: 61.99875em) {
  .opinion__text {
    color: #495057;
  }
}
.opinion__customers {
  display: flex;
  align-items: center;
  position: relative;
  z-index: 1;
}
@media (max-width: 29.99875em) {
  .opinion__customers {
    flex-direction: column;
    align-items: flex-start;
  }
}
.opinion__customers-image {
  margin-right: 1.125rem;
}
@media (max-width: 29.99875em) {
  .opinion__customers-image {
    margin-right: 0rem;
    margin-bottom: 0.625rem;
  }
}
.opinion__customers-text {
  max-width: 222px;
  font-weight: 300;
  font-size: 1.125rem;
  line-height: 1.4444444444;
}

.contacts {
  background-color: #212529;
}
@media (min-width: 84.375em) {
  .contacts {
    padding-top: 3.75rem;
  }
}
@media (min-width: 20em) and (max-width: 84.375em) {
  @supports (padding-top: clamp( 1.875rem , 1.2924757282rem  +  2.9126213592vw , 3.75rem )) {
    .contacts {
      padding-top: clamp( 1.875rem , 1.2924757282rem  +  2.9126213592vw , 3.75rem );
    }
  }
  @supports not (padding-top: clamp( 1.875rem , 1.2924757282rem  +  2.9126213592vw , 3.75rem )) {
    .contacts {
      padding-top: calc(1.875rem + 1.875 * (100vw - 20rem) / 64.375);
    }
  }
}
@media (max-width: 20em) {
  .contacts {
    padding-top: 1.875rem;
  }
}
@media (min-width: 84.375em) {
  .contacts {
    padding-bottom: 3.75rem;
  }
}
@media (min-width: 20em) and (max-width: 84.375em) {
  @supports (padding-bottom: clamp( 1.875rem , 1.2924757282rem  +  2.9126213592vw , 3.75rem )) {
    .contacts {
      padding-bottom: clamp( 1.875rem , 1.2924757282rem  +  2.9126213592vw , 3.75rem );
    }
  }
  @supports not (padding-bottom: clamp( 1.875rem , 1.2924757282rem  +  2.9126213592vw , 3.75rem )) {
    .contacts {
      padding-bottom: calc(1.875rem + 1.875 * (100vw - 20rem) / 64.375);
    }
  }
}
@media (max-width: 20em) {
  .contacts {
    padding-bottom: 1.875rem;
  }
}
.contacts__top {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1.6875rem;
}
.contacts__image {
  margin-bottom: 1.875rem;
}
.contacts__title {
  font-weight: 700;
  font-size: 1.5rem;
  color: #F8F9FA;
  margin-bottom: 0.625rem;
}
.contacts__text {
  color: #E9ECEF;
  text-align: center;
}
@media (min-width: 84.375em) {
  .contacts__text {
    font-size: 1.25rem;
  }
}
@media (min-width: 20em) and (max-width: 84.375em) {
  @supports (font-size: clamp( 1.125rem , 1.0861650485rem  +  0.1941747573vw , 1.25rem )) {
    .contacts__text {
      font-size: clamp( 1.125rem , 1.0861650485rem  +  0.1941747573vw , 1.25rem );
    }
  }
  @supports not (font-size: clamp( 1.125rem , 1.0861650485rem  +  0.1941747573vw , 1.25rem )) {
    .contacts__text {
      font-size: calc(1.125rem + 0.125 * (100vw - 20rem) / 64.375);
    }
  }
}
@media (max-width: 20em) {
  .contacts__text {
    font-size: 1.125rem;
  }
}
.contacts__form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.contacts__button {
  min-height: 48px;
  padding: 0px 47px;
}
.contacts__checkbox {
  margin-bottom: 2.1875rem;
  display: flex;
  text-align: start;
  max-width: 575px;
  align-items: baseline;
}
.contacts__input {
  margin-bottom: 1.6875rem;
  background-color: #DEE2E6;
  font-size: 1.125rem;
  padding: 4px 11px;
  cursor: pointer;
}
.contacts__input:not(:last-child) {
  margin-right: 10px;
}

::placeholder {
  color: #6C757D;
}

.checkbox__input .checkbox__input:not(:last-child) {
  margin-right: 10px;
}
.checkbox__label {
  font-size: 16px;
  color: #fff;
  font-weight: 300;
  line-height: 1.5;
}
